<div class="m-5">
    <div id="error-sammry">
    </div>
    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <input type="text" class="form-control" id="Name" aria-describedby="NameHelp">
    </div>
    <div class="mb-3">
        <label for="Email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="Email" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        <input type="password" class="form-control" id="Password">
        <span id="PasswordValidation"></span>
    </div>
    <div class="mb-3">
        <label for="Confirm-Password" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="Confirm-Password">
        <span id="Confirm-PasswordValidation"></span>
    </div>
    <button type="submit" class="btn btn-primary" onclick="signUp()">Submit</button>
    @Html.ActionLink("face book login" , "SignInWithFacebook" ,"UserManager" , new {@class="fa-brands fa-square-facebook"})
    @*@Html.ActionLink("" , "SignInWithGoogle" ,"UserManager" , new {@class="fa-brands fa-google"})*@
</div>
<script src="@Url.Content("~/js/SignUp.js")"></script>