
@{
    ViewData["Title"] = "Edit";
}

@using ViewModels
@model TournametVM





<div class="d-flex justify-content-center mt-4">

    <form class="w-50 fm p-3" asp-action="Edit" asp-controller="Home" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <h1 class="text-center">Edit @Model.Name Tournament</h1>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mb-3">
            <input type="text" class="form-control" hidden aria-describedby="emailHelp" asp-for="ID">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Tournament Name</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" asp-for="Name">
        </div>
        <div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="">
            <label for="exampleInputPassword1" class="form-label">Description</label>
            <input type="text" class="form-control" asp-for="Description">
        </div>
        <div>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>


        <div class="">
            <label for="exampleInputPassword1" class="form-label">Tournament Logo</label>
            <input type="file" class="form-control" asp-for="LogoFile">
        </div>
        <div>
            <span asp-validation-for="LogoFile" class="text-danger"></span>
        </div>

        <div class="">
            <label for="exampleInputPassword1" class="form-label">Embed Youtube Vedio</label>
            <input type="text" class="form-control" asp-for="vedioUrl">
        </div>
        <div>
            <span asp-validation-for="vedioUrl" class="text-danger"></span>
        </div>


        <button type="submit" class="btn btn-primary">Edit @Model.Name Team</button>


    </form>
</div>

